
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" data-tour="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings" style="color: #fe424d;font-size:1rem;font-weight: 800;"><i class="fa-solid fa-person-walking-luggage"></i> BookMyStay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" method="GET" action="/listings">
                    <div class="search-wrapper">
                        <div class="search-pill" data-tour="search">
                            <input 
                                type="text" 
                                class="search-input" 
                                name="search"
                                value="<%= searchText || '' %>"
                                placeholder="Search stays"
                            />
                            <button class="search-btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                  </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Host Your Stay</a>
                <button type="button" class="nav-link btn btn-link p-0" data-tour-trigger aria-label="Start BookMyStay tutorial">Help / Tour</button>
                <% if (!currUser) { %>
                    <a class="nav-link" href="/login" data-tour="auth">Signup/Log In</a>
                <% } else { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>