<% layout("/layouts/boilerplate")%>

    <div class="row">
        <div class="col-6 offset-3">
            <br>
                <h3>Login on BookMyStay:</h3>
            <form method="post" action="/login" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" placeholder="Enter your Username" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter a Valid Username</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" placeholder="Enter your Password" type="password" class="form-control" required>
                    <div class="invalid-feedback">Please enter  Valid Password</div>
                </div>
                <br>
                    <button class="btn btn-dark add-btn">Login</button> 
                    <a href="/signup" class="btn btn-dark add-btn col-3 offset-5">
                        Create User
                    </a>
            </form>
            
        </div>
    </div>